body{
    background-color: #86011C;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center; 
}

.member-card {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
}

.member-image img {
    width: 400px;
    height: 400px;
    object-fit: cover; 
    border-radius: 5px; 
}


@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
